.app
{
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333333;
  text-align: center;
  background-color: #FAFAFA;
  height: 100vh;
}

.layout
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  height: 100%;
}